<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <div>
        <h2>Users: <%= userCount %></h2>
        <h2>Products: <%= productCount %></h2>
    </div>
    <a href="/product">Manage Products</a>
    <button><a href="/logout">Logout</a></button>
</body>
</html>
